<?php
return array(
    'db' => array(
        'driver'=> 'pdo',
        'dsn' => 'mysql:dbname=onlinemarket;hostname=localhost',
        'username' => 'root',
        'password' => 'root',
        'driver_options' => array(
            //PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES 'UFT8'",
            PDO::ATTR_ERRMODE => PDO::ERRMODE_WARNING
         )
    )
);